---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import { Breadcrumbs, type BreadcrumbsProps } from '@/components/Breadcrumb'
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'

const items: BreadcrumbsProps[] = [
  { href: '/', label: 'Home' },
  { href: '/writing', label: 'Writing' },
  { label: 'Notes' },
  { href: '/snippets', label: 'Snippets' },
]

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout>
  <section>
    <Header title="Notes" breadcrumbItems={items} />

    <div class="flex flex-col text-sm mb-10">
      <p>
        A space for recording useful knowledge – by <a
          href="/"
          class="link ml-1">Taffo</a
        >
      </p>
      <div class="flex items-center gap-x-6 mt-1">
        <Breadcrumbs client:load breadcrumbItems={items} />
      </div>
    </div>

    <div class="columns-1 md:columns-2 text-sm text-justify">
      <p>
        A curated collection of insights and wisdom that captivate my curiosity.
        Here, I diligently document invaluable knowledge and observations,
        fostering a habit of continuous learning and reflection. By sharing
        these notes, my aspiration is to contribute to the collective wisdom of
        others while deepening my own understanding.
      </p>
      <p>
        May this repository serve as a beacon of enlightenment and inspiration
        for all who explore its contents.
      </p>
    </div>
  </section>

  <section>
    <ul class="border-t mt-10 py-10 space-y-4 [&:hover>li]:opacity-50">
      {
        notes.map((note) => (
          <li class="transition hover:!opacity-100">
            <a
              href={`/notes/${note.slug}/`}
              class="flex justify-between items-center py-4"
            >
              <h4 class="text-xl">{note.data.title}</h4>
              <p class="date">
                <FormattedDate date={note.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
