---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import { Image } from 'astro:assets'
import { AtSign } from 'lucide-react'
import Github from '@/assets/icons/github.svg?raw'
import Twitter from '@/assets/icons/x.svg?raw'
import LinkedIn from '@/assets/icons/linkedin.svg?raw'
import Notion from '@/assets/icons/notion.svg?raw'
import Picture3 from '@/assets/images/picture3.webp'
import { Breadcrumbs, type BreadcrumbsProps } from '@/components/Breadcrumb'
import SocialCard from '@/components/SocialCard.astro'

const items: BreadcrumbsProps[] = [
  { label: 'Home' },
  { href: '/writing', label: 'Writing' },
  { href: '/notes', label: 'Notes' },
  { href: '/snippets', label: 'Snippets' },
]
---

<BaseLayout>
  <Header title="Mustafa Adam Alshammaa ・ Taffo.dev" />

  <div class="flex flex-col text-sm mb-10">
    <p>
      Welcome to my space – by <a href="/" class="link ml-1">Taffo</a>
    </p>
    <div class="flex items-center gap-x-6 mt-1">
      <Breadcrumbs client:load breadcrumbItems={items} />
    </div>
  </div>

  <div class="mb-10 max-h-96 relative">
    <Image
      src={Picture3}
      width={Picture3.width / 2}
      densities={[1.5, 2]}
      alt="Me and my pregnant wife."
      class="w-full h-full object-cover rounded-md grayscale"
    />
  </div>

  <p>
    Driven by the art of crafting <b>seamless</b> user experiences and transforming
    intricate concepts into intuitive interfaces. <b>Dedicated</b> to continuous
    exploration and introspection, with a <b>commitment</b> to documenting every
    enlightening journey.
  </p>

  <p class="mt-10">
    Currently working as a <a
      href="https://thestellarcollective.se/"
      target="_blank"
      class="external-link">Stellar</a
    > with
    <a href="https://www.rco.se/" class="external-link">RCO Security</a>
  </p>

  <div class="mt-6 grid grid-cols-2 sm:grid-cols-4 gap-2">
    <SocialCard
      href="mailto:adam.benals@gmail.com?subject=Contacting you from taffo.dev"
      aria-label="email me"
      label="Email"
      tag="@adam.benals"
    >
      <AtSign className="w-10 h-10 mb-1" />
    </SocialCard>
    <SocialCard
      href="https://github.com/desiboli"
      target="_blank"
      label="Github"
      tag="@desiboli"
    >
      <span class="w-10 h-10 mb-1"><Fragment set:html={Github} /></span>
    </SocialCard>
    <SocialCard
      href="https://twitter.com/AdamAlshammaa"
      target="_blank"
      label="Twitter"
      tag="@adamalshammaa"
    >
      <span class="w-10 h-10 mb-1"><Fragment set:html={Twitter} /></span>
    </SocialCard>
    <SocialCard
      href="https://www.linkedin.com/in/mustafa-alshammaa/"
      target="_blank"
      label="LinkedIn"
      tag="@mustafa-alshammaa"
    >
      <span class="w-10 h-10 mb-1"><Fragment set:html={LinkedIn} /></span>
    </SocialCard>
    <a
      href="https://www.notion.so/Curriculum-Vitae-050001a582e74e87ac59616cb6769d80?pvs=4"
      class="inline-flex bg-accent/50 rounded-md py-6 px-4 col-span-2 sm:col-span-4 items-center hover:bg-accent/90 transition-colors"
      target="_blank"
    >
      <span class="w-20 h-20"><Fragment set:html={Notion} /></span>
      <span class="text-2xl mt-2">Curriculum Vitae</span>
    </a>
  </div>
</BaseLayout>
