---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import { Image } from 'astro:assets'
import { AtSign } from 'lucide-react'
import Github from '@/assets/icons/github.svg?raw'
import Twitter from '@/assets/icons/x.svg?raw'
import LinkedIn from '@/assets/icons/linkedin.svg?raw'
import Notion from '@/assets/icons/notion.svg?raw'
import Picture1 from '@/assets/images/picture1.webp'
import Picture2 from '@/assets/images/picture2.webp'
import Picture3 from '@/assets/images/picture3.webp'
import Picture4 from '@/assets/images/picture4.webp'
import Picture5 from '@/assets/images/picture5.webp'
import Picture6 from '@/assets/images/picture6.webp'
---

<BaseLayout>
  <Header title="Mustafa Adam Alshammaa ・ Taffo.dev" breadcrumbItems={[]} />

  <div class="my-8 columns-2 gap-4 md:columns-3">
    <div class="relative mb-4 h-40">
      <Image
        src={Picture1}
        widths={[280, 190]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 190px`}
        alt="Me and my sister."
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
    <div class="relative mb-4 h-80 md:mb-0">
      <Image
        src={Picture2}
        widths={[280, 500]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 500px`}
        alt="Me and Noél having fun with the leaves."
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
    <div class="relative h-40 md:mb-4 md:h-80">
      <Image
        src={Picture3}
        widths={[280, 700]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 700px`}
        alt="Me and a pregnant Amanda, walking together."
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
    <div class="relative mb-4 h-40 md:mb-0 bg-foreground/10 rounded-lg">
      <Image
        src={Picture4}
        widths={[280, 190]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 190px`}
        alt="Me and the alps."
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
    <div class="relative mb-4 h-40 bg-foreground/10 rounded-lg">
      <Image
        src={Picture5}
        widths={[280, 190]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 190px`}
        alt="Younger me and my brother."
        class="w-full h-full object-cover md:object-top rounded-lg"
      />
    </div>
    <div class="h-80">
      <Image
        src={Picture6}
        widths={[280, 500]}
        sizes={`(max-width: 640px) 280px, (min-width: 768px) 500px`}
        alt="Me and Noél looking at the beautiful trees."
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
  </div>

  <p class="mt-10">
    Driven by the art of crafting <b>seamless</b> user experiences and transforming
    intricate concepts into intuitive interfaces. <b>Dedicated</b> to continuous
    exploration and introspection, with a <b>commitment</b> to documenting every
    enlightening journey.
  </p>

  <p class="mt-10">
    Currently working as a <a
      href="https://thestellarcollective.se/"
      target="_blank"
      class="external-link">Stellar</a
    > with
    <a href="https://www.rco.se/" class="external-link">RCO Security</a>
  </p>

  <div class="mt-1">
    <a
      href="mailto:adam.benals@gmail.com?subject=Contacting you from taffo.dev"
      class="icon-link"
      aria-label="email me"
    >
      <AtSign className="w-4 h-4" />
    </a>
    <a
      href="https://github.com/desiboli"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={Github} />
    </a>
    <a
      href="https://twitter.com/AdamAlshammaa"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={Twitter} />
    </a>
    <a
      href="https://www.linkedin.com/in/mustafa-alshammaa/"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={LinkedIn} />
    </a>
    <a
      href="https://www.notion.so/Curriculum-Vitae-050001a582e74e87ac59616cb6769d80?pvs=4"
      class="icon-link w-auto h-6 inline-flex items-center gap-1"
      target="_blank"
    >
      <Fragment set:html={Notion} />
      <span class="leading-[normal] text-xs">Resume</span>
    </a>
  </div>
  <div class="grid grid-cols-4 mt-10">
    <h2
      class="text-foreground-secondary text-xl font-display uppercase col-span-full mb-4 md:col-span-1 md:mb-0"
    >
      My space
    </h2>
    <nav class="col-span-3">
      <ul class="space-y-4 whitespace-nowrap">
        <li class="space-y-1">
          <a href="/writing" class="link">Writing</a>
          <p class="text-xs text-foreground-secondary">
            A space for storing insights
          </p>
        </li>
        <li class="space-y-1">
          <a href="/notes" class="link">Notes</a>
          <p class="text-xs text-foreground-secondary">
            A space for recording useful knowledge
          </p>
        </li>
        <li class="space-y-1">
          <a href="/snippets" class="link">Snippets</a>
          <p class="text-xs text-foreground-secondary">
            A space for sharing useful code snippets
          </p>
        </li>
      </ul>
    </nav>
  </div>
</BaseLayout>
