---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import { Image } from 'astro:assets'
import { AtSign } from 'lucide-react'
import Github from '@/assets/icons/github.svg?raw'
import Twitter from '@/assets/icons/x.svg?raw'
import LinkedIn from '@/assets/icons/linkedin.svg?raw'
import Notion from '@/assets/icons/notion.svg?raw'
import Picture3 from '@/assets/images/picture3.webp'
---

<BaseLayout>
  <Header title="Mustafa Adam Alshammaa ・ Taffo.dev" breadcrumbItems={[]} />

  <div class="my-8 max-h-96 relative">
    <Image
      src={Picture3}
      width={Picture3.width / 2}
      densities={[1.5, 2]}
      alt="Me and my sister."
      class="w-full h-full object-cover rounded-2xl grayscale"
    />
  </div>

  <p>
    Driven by the art of crafting <b>seamless</b> user experiences and transforming
    intricate concepts into intuitive interfaces. <b>Dedicated</b> to continuous
    exploration and introspection, with a <b>commitment</b> to documenting every
    enlightening journey.
  </p>

  <p class="mt-10">
    Currently working as a <a
      href="https://thestellarcollective.se/"
      target="_blank"
      class="external-link">Stellar</a
    > with
    <a href="https://www.rco.se/" class="external-link">RCO Security</a>
  </p>

  <div class="mt-1">
    <a
      href="mailto:adam.benals@gmail.com?subject=Contacting you from taffo.dev"
      class="icon-link"
      aria-label="email me"
    >
      <AtSign className="w-4 h-4" />
    </a>
    <a
      href="https://github.com/desiboli"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={Github} />
    </a>
    <a
      href="https://twitter.com/AdamAlshammaa"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={Twitter} />
    </a>
    <a
      href="https://www.linkedin.com/in/mustafa-alshammaa/"
      class="icon-link w-6 h-6"
      target="_blank"
    >
      <Fragment set:html={LinkedIn} />
    </a>
    <a
      href="https://www.notion.so/Curriculum-Vitae-050001a582e74e87ac59616cb6769d80?pvs=4"
      class="icon-link w-auto h-6 inline-flex items-center gap-1"
      target="_blank"
    >
      <Fragment set:html={Notion} />
      <span class="leading-[normal] text-xs">Resume</span>
    </a>
  </div>
  <div class="grid grid-cols-4 mt-10">
    <h2
      class="text-foreground-secondary text-xl font-display uppercase col-span-full mb-4 md:col-span-1 md:mb-0"
    >
      My space
    </h2>
    <nav class="col-span-3">
      <ul class="space-y-4 whitespace-nowrap">
        <li class="space-y-1">
          <a href="/writing" class="link">Writing</a>
          <p class="text-xs text-foreground-secondary">
            A space for storing insights
          </p>
        </li>
        <li class="space-y-1">
          <a href="/notes" class="link">Notes</a>
          <p class="text-xs text-foreground-secondary">
            A space for recording useful knowledge
          </p>
        </li>
        <li class="space-y-1">
          <a href="/snippets" class="link">Snippets</a>
          <p class="text-xs text-foreground-secondary">
            A space for sharing useful code snippets
          </p>
        </li>
      </ul>
    </nav>
  </div>
</BaseLayout>
